@use "./setup";

// font mixins
@mixin h1-settings {
  font-family: "Open-Sans";
  font-weight: 400;
  font-size: setup.$font-size-large;
  line-height: 1;
  letter-spacing: -2px;
}
@mixin h2-settings {
  font-family: "Open-Sans";
  font-weight: 700;
  font-size: setup.$font-size-medium;
  // line-height: 1;
  letter-spacing: -1px;
}
@mixin paragraph-font {
  font-family: "Open-Sans";
  font-weight: 400;
  font-size: setup.$font-size-normal;
  // line-height: 1;
  // letter-spacing: -2px;
}

@mixin glass-background {
  padding: 0.3rem;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: #ffffff0f;
  background-image: linear-gradient(#ffffff29, #fff0);
  border: 1px solid #ffffff14;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px 1px #ffffff29;
}

@mixin button-style {
  background: #cdaa56;
  background: linear-gradient(
    90deg,
    rgba(205, 170, 86, 1) 0%,
    rgba(250, 202, 90, 1) 50%,
    rgba(255, 219, 135, 1) 100%
  );

  font-family: "Open-Sans";
  font-weight: 700;
  font-size: setup.$font-size-medium;
  letter-spacing: 1px;
  color: black;

  border: none;
  padding: 0.5em;
  border-radius: 5px;

  cursor: pointer;
}
