// font mixins
@mixin largest-font {
  font-family: "Open-Sans";
  font-weight: 400;
  font-size: calc(1.5rem + 2vw);
  line-height: 1;
  letter-spacing: -2px;
}

@mixin glass-background {
  padding: 0.3rem;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: #ffffff0f;
  background-image: linear-gradient(#ffffff29, #fff0);
  border: 1px solid #ffffff14;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px 1px #ffffff29;
}

@mixin button-style {
  background-image: linear-gradient(
    1deg,
    rgb(91, 227, 248) 0%,
    rgb(140, 239, 255) 81%,
    rgb(219, 251, 255) 100%
  );

  font-family: "Open-Sans";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: black;

  border: none;
  padding: 0.5em;
  border-radius: 5px;

  cursor: pointer;
}
