@use "./setup";

// font mixins
@mixin h1-settings {
  font-family: setup.$main-font;
  font-weight: 400;
  font-size: clamp(1rem, 3vw + 1rem, setup.$font-size-huge);
  line-height: 1;
  letter-spacing: -2px;
}
@mixin h2-settings {
  font-family: setup.$main-font;
  font-weight: 700;
  font-size: setup.$font-size-large;
  line-height: 1.3;
  letter-spacing: -1px;
}
@mixin h3-settings {
  font-family: setup.$main-font;
  font-weight: 700;
  font-size: setup.$font-size-medium;
  line-height: 1.3;
  letter-spacing: -0.5px;
}
@mixin paragraph-large {
  font-family: setup.$main-font;
  font-weight: 400;
  font-size: setup.$font-size-medium;
  line-height: 1.3;
}
@mixin paragraph-normal {
  font-family: setup.$main-font;
  font-weight: 400;
  font-size: setup.$font-size-normal;
  line-height: 1.5;
}
// effects
@mixin glass-background {
  padding: 0.3rem;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: #ffffff0f;
  background-image: linear-gradient(#ffffff29, #fff0);
  border: 1px solid #ffffff14;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px 1px #ffffff29;
}
// buttons styling
@mixin button-settings {
  position: relative;
  width: 75%;

  overflow: hidden;
  transition: all 0.5s ease;
}

@mixin button-style {
  background: #cdaa56;
  background: linear-gradient(
    90deg,
    rgba(205, 170, 86, 1) 0%,
    rgba(250, 202, 90, 1) 50%,
    rgba(255, 219, 135, 1) 100%
  );

  font-family: setup.$main-font;
  font-weight: 700;
  font-size: clamp(0.5rem, 2vw + setup.$font-size-medium, 1.5rem);
  letter-spacing: 1px;
  color: black;

  border: none;
  padding: 0.5em;
  border-radius: 5px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg, transparent, transparent 30%, white);
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px setup.$accent-color;
  }
  &:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(500%);
  }
}
