*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  direction: rtl;
}

@font-face {
  font-family: "Open-Sans";
  src: url(../src/fonts/Open_Sans/OpenSans-VariableFont_wdthwght.ttf) format("truetype");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}
body {
  height: 10000px;
}

nav {
  position: fixed;
  z-index: 99;
  inset-inline: 0;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  color: white;
  margin: 15px;
  padding: 0.3rem;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.0588235294);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1607843137), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
  border-radius: 10px;
  box-shadow: inset 0 1px 1px 1px rgba(255, 255, 255, 0.1607843137);
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .logo-wrap img {
  max-width: 50px;
  height: auto;
  transition: all 0.3s ease;
}
nav .logo-wrap img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  cursor: pointer;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 1rem;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}
nav ul li a:hover {
  color: #5be3f8;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
}
nav .contact-info {
  align-content: center;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  min-height: -moz-min-content;
  min-height: min-content;
  padding-top: 6rem;
  padding-inline: 2rem;
  background-color: #313747;
  background: radial-gradient(circle, rgb(49, 55, 71) 0%, rgb(10, 0, 0) 100%);
}
.hero-section .hero-image-wrap {
  max-width: 450px;
}
.hero-section .hero-image-wrap img {
  max-width: 100%;
  height: auto;
}
.hero-section .hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 500px;
  font-family: "Open-Sans";
  font-weight: 400;
  font-size: calc(1.5rem + 2vw);
  line-height: 1;
  letter-spacing: -2px;
  text-wrap: nowrap;
  color: white;
  text-shadow: 0px 0px rgb(38, 45, 56);
}
.hero-section .hero-cta-wrap {
  margin-top: 1rem;
  text-align: center;
}
.hero-section .hero-cta-wrap button {
  background-image: linear-gradient(1deg, rgb(91, 227, 248) 0%, rgb(140, 239, 255) 81%, rgb(219, 251, 255) 100%);
  font-family: "Open-Sans";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: black;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 75%;
  overflow: hidden;
  transition: all 0.5s ease;
}
.hero-section .hero-cta-wrap button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, white);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.hero-section .hero-cta-wrap button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px #5be3f8;
}
.hero-section .hero-cta-wrap button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(400%);
}/*# sourceMappingURL=main.css.map */