*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background: rgba(0, 0, 0, 0.87);
}

main {
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  direction: rtl;
}

@font-face {
  font-family: "Open-Sans";
  src: url(../src/fonts/Open_Sans/OpenSans-VariableFont_wdthwght.ttf) format("truetype");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}
nav {
  position: fixed;
  z-index: 99;
  inset-inline: 0;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  color: white;
  margin: 15px auto;
  max-width: clamp(300px, 95%, 1350px);
  padding: 0.3rem;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.0588235294);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1607843137), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
  border-radius: 10px;
  box-shadow: inset 0 1px 1px 1px rgba(255, 255, 255, 0.1607843137);
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .logo-wrap img {
  max-width: 50px;
  height: auto;
  transition: all 0.3s ease;
}
nav .logo-wrap img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  cursor: pointer;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 1rem;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  color: white;
  transition: all 0.5s ease;
}
nav ul li a:hover {
  color: #cdaa56;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
}
nav .contact-info {
  align-content: center;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  min-height: -moz-min-content;
  min-height: min-content;
  padding-top: 6rem;
  padding-inline: 2.5rem;
  background-color: #313747;
  background: radial-gradient(circle, rgb(49, 55, 71) 0%, rgb(10, 0, 0) 100%);
}
.hero-section .hero-image-wrap {
  max-width: 450px;
}
.hero-section .hero-image-wrap img {
  max-width: 100%;
  height: auto;
}
.hero-section .hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 500px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: calc(1rem * 1.7 * 1.7);
  line-height: 1;
  letter-spacing: -2px;
  text-wrap: nowrap;
  color: white;
  text-shadow: 0px 0px rgb(38, 45, 56);
}
.hero-section .hero-cta-wrap {
  margin-top: 1rem;
  text-align: center;
}
.hero-section .hero-cta-wrap button {
  background: #cdaa56;
  background: linear-gradient(90deg, rgb(205, 170, 86) 0%, rgb(250, 202, 90) 50%, rgb(255, 219, 135) 100%);
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: calc(1rem * 1.7);
  letter-spacing: 1px;
  color: black;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 75%;
  overflow: hidden;
  transition: all 0.5s ease;
}
.hero-section .hero-cta-wrap button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, white);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.hero-section .hero-cta-wrap button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px #cdaa56;
}
.hero-section .hero-cta-wrap button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(500%);
}

.pain-section {
  background-image: url(../../src/assets/backgrounds/virtical-background-svg.svg);
}
.pain-section .pain-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5rem;
  padding: 2rem;
}
.pain-section .pain-card .pain-info {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 1rem;
  font-family: "Open-Sans", sans-serif;
  padding: 1rem;
}
.pain-section .pain-card .pain-info h2 {
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: calc(1rem * 1.7);
  line-height: 1.3;
  letter-spacing: -1px;
}
.pain-section .pain-card .pain-info ul li {
  line-height: 1.7;
  text-align: right;
}
.pain-section .pain-card .pain-info .pain-cta-warp {
  margin-top: 1rem;
  text-align: center;
}
.pain-section .pain-card .pain-info .pain-cta-warp button {
  background: #cdaa56;
  background: linear-gradient(90deg, rgb(205, 170, 86) 0%, rgb(250, 202, 90) 50%, rgb(255, 219, 135) 100%);
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: calc(1rem * 1.7);
  letter-spacing: 1px;
  color: black;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 65%;
  overflow: hidden;
  transition: all 0.5s ease;
}
.pain-section .pain-card .pain-info .pain-cta-warp button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, white);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.pain-section .pain-card .pain-info .pain-cta-warp button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px #cdaa56;
}
.pain-section .pain-card .pain-info .pain-cta-warp button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(500%);
}
.pain-section .pain-card .pain-info .pain-cta-warp button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, white);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.pain-section .pain-card .pain-info .pain-cta-warp button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px #cdaa56;
}
.pain-section .pain-card .pain-info .pain-cta-warp button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(400%);
}
.pain-section .pain-card .pain-image-wrap {
  width: 50%;
}
.pain-section .pain-card .pain-image-wrap img {
  width: 100%;
  height: auto;
}

.cure-section {
  font-family: "Open-Sans", sans-serif;
  color: white;
}
.cure-section .cure-section-container {
  background-image: url(../../src/assets/backgrounds/virtical-background-dark.svg);
  text-align: center;
}
.cure-section .cure-section-container h2 {
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: calc(1rem * 1.7);
  line-height: 1.3;
  letter-spacing: -1px;
}
.cure-section .cure-section-container .cure-section-expertise {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0;
}
.cure-section .cure-section-container .cure-section-expertise p {
  max-width: 70rch;
}
.cure-section .cure-section-container .cure-section-expertise .more-info-btn {
  width: 50%;
}
.cure-section .cure-section-container .cure-section-expertise .more-info-btn button {
  position: relative;
  width: 75%;
  overflow: hidden;
  transition: all 0.5s ease;
  background: #cdaa56;
  background: linear-gradient(90deg, rgb(205, 170, 86) 0%, rgb(250, 202, 90) 50%, rgb(255, 219, 135) 100%);
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: calc(1rem * 1.7);
  letter-spacing: 1px;
  color: black;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}
.cure-section .cure-section-container .cure-section-expertise .more-info-btn button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, white);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.cure-section .cure-section-container .cure-section-expertise .more-info-btn button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px #cdaa56;
}
.cure-section .cure-section-container .cure-section-expertise .more-info-btn button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(500%);
}
.cure-section .cure-section-container .cure-section-image {
  width: 50%;
  justify-self: center;
  padding: 0.3rem;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.0588235294);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1607843137), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
  border-radius: 10px;
  box-shadow: inset 0 1px 1px 1px rgba(255, 255, 255, 0.1607843137);
}
.cure-section .cure-section-container .cure-section-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.cure-section .cure-section-container .proofs-container {
  padding: 4rem 2rem;
  -webkit-backdrop-filter: brightness(0.5) blur(2px);
          backdrop-filter: brightness(0.5) blur(2px);
}
.cure-section .cure-section-container .proofs-container .proof-images-wrapper {
  display: flex;
  margin: 2.5rem 0;
  gap: 1rem;
}
.cure-section .cure-section-container .proofs-container .proof-images-wrapper .proof-image-wrap {
  width: 33%;
}
.cure-section .cure-section-container .proofs-container .proof-images-wrapper .proof-image-wrap img {
  width: 100%;
  transition: all 0.3s ease;
}
.cure-section .cure-section-container .proofs-container .proof-images-wrapper .proof-image-wrap img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.cure-section .cure-section-container .reviews-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  gap: 1rem;
}
.cure-section .cure-section-container .reviews-wrap .stars span {
  display: inline-block;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s ease;
}
.cure-section .cure-section-container .reviews-wrap .stars span:hover {
  transform: scale(1.5);
  color: #cdaa56;
}
.cure-section .cure-section-container .reviews-wrap p {
  max-width: 55ch;
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: calc(1rem * 1.7);
  line-height: 1.3;
  letter-spacing: -0.5px;
  font-weight: 400;
}
.cure-section .cure-section-container .cure-section-cta {
  justify-self: center;
  width: 50%;
}
.cure-section .cure-section-container .cure-section-cta button {
  position: relative;
  width: 75%;
  overflow: hidden;
  transition: all 0.5s ease;
  background: #cdaa56;
  background: linear-gradient(90deg, rgb(205, 170, 86) 0%, rgb(250, 202, 90) 50%, rgb(255, 219, 135) 100%);
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: calc(1rem * 1.7);
  letter-spacing: 1px;
  color: black;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}
.cure-section .cure-section-container .cure-section-cta button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, white);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.cure-section .cure-section-container .cure-section-cta button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px #cdaa56;
}
.cure-section .cure-section-container .cure-section-cta button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(500%);
}
.cure-section .cure-section-cta {
  padding-bottom: 4rem;
}

.accent-underline {
  display: inline-block;
  width: 7ch;
  height: 1px;
  background-color: #cdaa56;
}

dialog {
  margin: auto;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
dialog::backdrop {
  background: rgba(5, 2, 2, 0.432);
}
dialog .gallery-modal-content {
  max-width: 600px;
}
dialog .gallery-modal-content .modal-x-button {
  position: absolute;
  top: -10px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 25%;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  background: #cdaa56;
  cursor: pointer;
  transition: color 0.3s ease;
}
dialog .gallery-modal-content .modal-x-button:hover {
  color: rgba(2, 1, 1, 0.7);
}
dialog .gallery-modal-content img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */