@use "../setup";
@use "../mixin";
@use "sass:color";

.cure-section {
  font-family: setup.$main-font;
  color: white;

  .cure-section-container {
    background-image: url(../src/assets/backgrounds/virtical-background-dark.svg);
    text-align: center;

    h2 {
      @include mixin.h2-settings;
    }
    h3 {
      @include mixin.h3-settings;
    }
    .cure-section-expertise {
      display: flex;
      flex-direction: column;
      gap: setup.$medium-spacing;
      justify-content: space-evenly;
      align-items: center;

      padding: setup.$large-spacing 0;

      .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: setup.$medium-spacing;
        padding: setup.$medium-spacing setup.$page-padding;

        .about-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: setup.$small-spacing;
          p {
            max-width: 55rch;
          }
        }
      }
      .more-info-btn {
        width: 50%;
        button {
          @include mixin.button-settings;
          @include mixin.button-style;
        }
      }
    }

    .cure-section-image {
      width: 20%;
      justify-self: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .services-container {
      @include mixin.glass-background;
      background-image: url(../public/images/services-bg-2-mod.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      width: 95%;
      min-height: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: setup.$micro-spacing;

      .service-item {
        position: relative;
        width: 24.4%;
        color: setup.$accent-color;
        background-color: rgba(3, 1, 1, 0.815);
        font-size: setup.$font-size-medium;
        border-radius: 10px;
        transition: all 0.3s ease;

        // responsive
        @media (max-width: 768px) {
          &.service-item {
            width: 95%;
            p {
              text-underline-offset: 10px;
            }
          }
        }

        &:hover {
          background-color: color.change(setup.$accent-color, $alpha: 0.8);
          color: white;
          cursor: pointer;
        }
        p {
          position: absolute;
          inset: 0;
          align-self: center;
          justify-self: center;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 20px;
          text-underline-position: right;
        }
      }
    }

    .proofs-container {
      padding: setup.$large-spacing setup.$page-padding;
      backdrop-filter: brightness(0.5) blur(2px);
      .proof-images-wrapper {
        display: flex;
        align-items: center;
        margin: setup.$medium-spacing 0;
        gap: setup.$small-spacing;
        .proof-image-wrap {
          width: 33%;
          img {
            width: 100%;
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.05);
              cursor: pointer;
            }
          }
        }
      }
    }

    .reviews-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: setup.$large-spacing 0;
      gap: setup.$small-spacing;

      .stars {
        span {
          display: inline-block;
          font-size: 2rem;
          user-select: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.5);
            color: setup.$accent-color;
          }
        }
      }
      .reviews {
        .review-item {
          display: none;
          padding-inline: setup.$page-padding;
          min-height: 125px;
          p {
            @include mixin.paragraph-large;
            max-width: 55ch;
            font-weight: 400;
          }
          &.active-review {
            display: block;
          }
        }
      }
    }
    .cure-section-cta {
      justify-self: center;
      width: 50%;
      button {
        @include mixin.button-settings;
        @include mixin.button-style;
      }
    }
  }
  .cure-section-cta {
    padding-bottom: setup.$large-spacing;
  }
}

// global to this section
.accent-underline {
  display: inline-block;
  width: 7ch;
  height: 1px;
  background-color: setup.$accent-color;
}

// responsive
