@use "../setup";
@use "../mixin";
.cure-section {
  font-family: setup.$main-font;
  color: white;

  .cure-section-container {
    background-image: url(../src/assets/backgrounds/virtical-background-dark.svg);
    text-align: center;

    h2 {
      @include mixin.h2-settings;
    }
    .cure-section-expertise {
      display: flex;
      flex-direction: column;
      gap: setup.$medium-spacing;
      justify-content: space-evenly;
      align-items: center;

      padding: setup.$large-spacing 0;

      p {
        max-width: 70rch;
      }
      .more-info-btn {
        width: 50%;
        button {
          @include mixin.button-settings;
          @include mixin.button-style;
        }
      }
    }

    .cure-section-image {
      width: 25%;
      justify-self: center;
      // @include mixin.glass-background;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    .services-container {
      padding: 0 setup.$page-padding;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      gap: setup.$small-spacing;
      .service-item {
        width: 250px;
        padding: setup.$small-spacing;
        min-height: 60px;

        transition: all 0.3s ease;
        &:hover {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .proofs-container {
      padding: setup.$large-spacing setup.$page-padding;
      backdrop-filter: brightness(0.5) blur(2px);
      .proof-images-wrapper {
        display: flex;
        margin: setup.$medium-spacing 0;
        gap: setup.$small-spacing;
        .proof-image-wrap {
          width: 33%;
          img {
            width: 100%;
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.05);
              cursor: pointer;
            }
          }
        }
      }
    }

    .reviews-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: setup.$large-spacing 0;
      gap: setup.$small-spacing;

      .stars {
        span {
          display: inline-block;
          font-size: 2rem;
          user-select: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.5);
            color: setup.$accent-color;
          }
        }
      }
      p {
        max-width: 55ch;
        @include mixin.paragraph-large;
        font-weight: 400;
      }
    }
    .cure-section-cta {
      justify-self: center;
      width: 50%;
      button {
        @include mixin.button-settings;
        @include mixin.button-style;
      }
    }
  }
  .cure-section-cta {
    padding-bottom: setup.$large-spacing;
  }
}

// global to this section
.accent-underline {
  display: inline-block;
  width: 7ch;
  height: 1px;
  background-color: setup.$accent-color;
}
