@use "../setup";
@use "../animations";
@use "../mixin";
.fixed-contact-button {
  display: none;
  // utility class to hide the button
  &.show {
    display: block;
  }

  position: fixed;
  width: clamp(50px, 5vw, 70px);

  z-index: 999;
  bottom: 50px;
  right: 20px;

  @include mixin.glass-background;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  animation: fadeIn 0.3s ease forwards;
  padding: 8px;
  a {
    svg {
      width: 100%;
      height: auto;
      fill: #fff;
      transition: all 0.3s ease;
      &:hover {
        fill: setup.$accent-color;
      }
    }
  }
}
