@use "../mixin";
@use "../setup";

.hero-section {
  display: flex;
  flex-wrap: wrap;
  gap: setup.$small-spacing;
  justify-content: space-evenly;
  min-height: min-content;
  padding-top: 6rem;
  padding-inline: setup.$medium-spacing;
  background-color: #313747;
  background: radial-gradient(
    circle,
    rgba(49, 55, 71, 1) 0%,
    rgba(10, 0, 0, 1) 100%
  );
  .hero-image-wrap {
    max-width: 450px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 500px;
    @include mixin.h1-settings;
    text-wrap: nowrap;
    color: white;
    text-shadow: 0px 0px rgb(38, 45, 56);
    h1 {
      font-size: clamp(2rem, 4vw + 1rem, 5rem);
    }
    p {
      font-weight: 400;
    }
  }
  .hero-cta-wrap {
    margin-top: setup.$small-spacing;
    text-align: center;

    button {
      @include mixin.button-style;
      @include mixin.button-settings;
    }
  }
}

// responsive styles for mobile
.hero-cta-wrap-mobile {
  display: none;
  @media screen and (max-width: setup.$breakpoint-desktop) {
    .hero-cta-wrap {
      display: none;
    }

    display: block;
    position: fixed;
    z-index: 10;
    bottom: 10px;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    button {
      @include mixin.button-style;
      @include mixin.button-settings;
      width: 95vw;
      opacity: 0;
      animation-delay: 1.5s;
      animation: fadeIn 0.9s forwards;

      &.hidden {
        display: none;
      }
    }
  }
}

@media screen and (max-width: setup.$breakpoint-desktop) {
  .hero-cta-wrap {
    display: none;
  }
}
