@use "../setup";

body {
  height: 10000px;
}

nav {
  position: fixed;
  z-index: 99;
  inset-inline: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  font-family: setup.$main-font;
  color: white;
  padding: 0.3rem;
  margin: 15px;

  box-shadow: 1px 1px 4px rgb(99 98 101 / 6%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo-wrap {
    img {
      max-width: 50px;
      height: auto;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
        cursor: pointer;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: setup.$small-spacing;

    li {
      margin: 0 1rem;

      a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          color: setup.$accent-color;
          text-shadow: 0px 0px 1px rgb(255 255 255);
        }
      }
    }
  }
  .contact-info {
    align-content: center;
  }
}
