@use "../setup";
@use "../mixin";

.pain-section {
  background-image: url(../src/assets/backgrounds/virtical-background-svg.svg);
  position: relative;
  min-height: 450px;
  overflow: hidden;
  .pain-card {
    // display: flex;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: setup.$medium-spacing;
    padding: setup.$page-padding;

    .pain-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      width: 100%;
      max-width: 500px;
      min-height: 500px;
      gap: setup.$small-spacing;

      font-family: setup.$main-font;
      padding: setup.$small-spacing;
      h2 {
        @include mixin.h2-settings;
      }
      ul {
        li {
          line-height: 1.7;
          text-align: justify;
        }
      }

      .pain-cta-warp {
        margin-top: setup.$small-spacing;
        text-align: center;

        button {
          @include mixin.button-style;

          position: relative;
          width: 100%;
          max-width: 300px;

          overflow: hidden;
          transition: all 0.5s ease;

          &::before {
            content: "";
            position: absolute;
            top: -100%;
            left: -100%;
            width: 200%;
            height: 200%;
            background: linear-gradient(
              0deg,
              transparent,
              transparent 30%,
              white
            );
            transform: rotate(-45deg);
            transition: all 0.5s ease;
            opacity: 0;
          }

          &:hover {
            transform: scale(1.03);
            box-shadow: 0 0 5px setup.$accent-color;
          }
          &:hover::before {
            opacity: 1;
            transform: rotate(-45deg) translateY(400%);
          }
        }
      }
    }
    .pain-image-wrap {
      width: 100%;
      max-width: 500px;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        animation: slideshow-fade-in 0.3s ease;
      }
    }
  }
  .nav-arrows {
    .arrow {
      position: absolute;
      background: white;
      background: transparent;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        border-radius: 50%;

        color: setup.$accent-color;
      }
      &.left-arrow {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 50px;
      }
      &.right-arrow {
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 50px;
      }
    }
  }
  @keyframes slideshow-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  //  utility class to show active pain card
  .active-pain-card {
    display: flex;
  }
}

@media (max-width: setup.$breakpoint-desktop) {
  .pain-section {
    min-height: 940px;
    @media (max-width: setup.$breakpoint-mobile) {
      min-height: 910px;
    }
    display: flex;
    align-items: center;
    .pain-card {
      gap: 0;
    }
  }
}
