@use "../setup";
@use "../mixin";

.pain-section {
  .pain-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: setup.$medium-spacing;
    padding: setup.$medium-spacing;
    @include mixin.medium-font;
    @include mixin.glass-background;

    background-color: rgba(216, 216, 216, 0.397);

    .pain-info {
      display: flex;
      flex-direction: column;
      gap: setup.$small-spacing;

      font-family: setup.$main-font;
      ul {
        li {
          list-style: none;
        }
      }
    }
  }
  .pain-image-wrap {
    width: 50%;
    img {
      width: 90%;
      height: auto;
    }
  }
}
