@use "../setup";
@use "../animations";
@use "../mixin";
.fixed-contact-button-sos {
  display: none;
  // utility class to hide the button
  &.show {
    display: block;
  }

  position: fixed;
  width: clamp(50px, 5vw, 60px);

  z-index: 999;
  bottom: 120px;
  right: 20px;

  @include mixin.glass-background;
  background: rgba(255, 0, 0, 0.8);
  border-radius: 50px;
  animation: fadeIn 0.3s ease forwards;
  padding: 8px;
  &:hover {
    background: rgba(255, 0, 0, 1);
    svg {
      fill: #fff;
      transform: scale(1.1);
    }
  }
  a {
    svg {
      width: 100%;
      height: auto;
      fill: #fff;
      transition: all 0.3s ease;
    }
  }

  ::after {
    content: "SOS";
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #fff;
    font-weight: bold;
  }
}
